<template>
  <div class="page">
    <div v-if="!isConnected">
      <h2>Enter your name</h2>
      <form @submit.prevent="addUser">
        <input type="text" v-model="userInput" />
        <button>Connexion</button>
      </form>
    </div>
    <div v-if="isConnected" class="header">
      <h2> Your are connected as {{ userName }} </h2>
       -> <button @click="disconnectUser">Log off</button>
    </div>
    <div v-if="isConnected" class="container">
      <div>
        <h2> General Chatbox</h2>
        <div class="chat">
          <div v-for="message in messages" :key="message.id">
            <span v-if="message.type === 'private'" class="private">(private)</span>
            {{ message.content }}
          </div>
        </div>
        <form class="inputArea" @submit.prevent="sendMessage">
          <input class="msgChatbox" type="text" v-model="messageInput" placeholder="Enter you message..." />
          <button>Send</button>
        </form>
      </div>

      <div class="channel">
        <h2>Channels</h2>
        <div class="channelList">
          <form class="channelForm" @submit.prevent="createChannel">
            <input type="text" v-model="newChannelName" placeholder="Enter a new channel name" />
            <button> Create </button>
          </form>
          <ul>
            <li v-for="channel in channels" :key="channel.id">
              {{ channel.name }}
              <button v-if="!channel.isJoined" @click="joinChannel(channel.name)"> Join </button>
              <button v-if="channel.isJoined" @click="leaveChannel(channel.name)"> leave </button>
              <button v-if=" channel.isOpen && channel.isJoined" @click="closeChannel(channel.name)"> close </button>
              <button v-if="!channel.isOpen && channel.isJoined" @click="openChannel(channel.name)"> open </button>
              <button @click="deleteChannel(channel.name)"> X </button>
            </li>
          </ul>
          <div v-if="isWindowOpened">
            <h3 class="chan">Channel: {{ currentChannel }}</h3>
            <button @click="inviteToChannel(currentChannel)"> Invite Someone </button>
            <div class="chat">
              <div v-for="message in channelMessages" :key="message.id">
                <div v-if=" message.channelName === currentChannel">
                {{ message.content }}
                </div>
              </div>
            </div>
            <form class="inputArea" @submit.prevent="sendMessage()">
              <input class="msgChatbox" type="text" v-model="messageInput" placeholder="Enter your message..."/>
              <button>Send</button>
            </form>
          </div>
        </div>
      </div>
      <div class="connectedUsers">
        <h2>Connected Users</h2>
        <div class="userList">
          <ul>
            <li v-for="user in connectedUsers" :key="user.id">
              {{ user.user }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

  

<script setup>
import * as mqtt from "mqtt/dist/mqtt.min";
import { ref } from 'vue'

const client = mqtt.connect('wss://test.mosquitto.org:8081', { keepalive: 30 });

const messages = ref([]);
const userName = ref('');
const isConnected = ref(false);
const connectedUsers = ref([]);
const channels = ref([]);
const currentChannel = ref('');
const channelMessages= ref([]);

const isWindowOpened = ref(false);

let messageInput = '';
let userInput = '';
let newChannelName = '';

client.subscribe('chat');
client.subscribe('connectedUsers');
client.subscribe('channelList');
client.subscribe('disconnect');
client.subscribe('deleteChannel');



client.on('connect', () => {
  console.log('Connected to the chat server')
});

client.on('close', () => {
  console.log('Chat server closed')
});


client.on('message', (topic, message) => {
  if (topic === 'connectedUsers') {
    connectedUsers.value.push(JSON.parse(message.toString()));
  }
  if (topic === 'disconnect') {
    connectedUsers.value = JSON.parse(message.toString());
  }
  if (topic === `channel/${currentChannel.value}`) {
    channelMessages.value.push({channelName: currentChannel.value, content: message});
  }
  if (topic === 'channelList'){
    channels.value.push(JSON.parse(message.toString()))
  }
  if (topic === 'deleteChannel'){
    channels.value = JSON.parse(message.toString());
  }
  else if (topic === 'chat' || topic === `chat/${userName.value}`){
    const messageContent = message.toString();
    const sender = messageContent.split(": ")[0];
    const messageType = topic === userName.value ? 'private' : 'public';
    messages.value.push({
      id: Date.now(),
      content: messageContent,
      type: messageType,
      sender: sender,
    });
    
    
  }
});

async function addUser() {
  if (userInput.trim() !== '') {
    if (connectedUsers.value.find(u => u.user === userInput.trim())) {
      alert('User already connected!');
      return;
    }
    userName.value = userInput;
    client.publish(`chat`, `${userName.value} just joined the chat`);
    client.subscribe(`chat/${userName.value}`);
    client.publish('connectedUsers', JSON.stringify({ user: userName.value, connected: true }));
    isConnected.value = true;
    userInput = '';
  }
}

async function createChannel() {
  if (newChannelName.trim() !== '') {
    const channelName = newChannelName.trim();
    const isChannelExist = channels.value.find((c) => c.name === channelName)
    if (isChannelExist){
      alert('This channels already exist');
      return
    }
    client.subscribe(`channel/${channelName}`)
    client.publish('channelList', JSON.stringify({name:channelName, isJoined: false, isOpen:false}));
    newChannelName = '';
  }
}


async function deleteChannel(channel) {

  const channelTodelete = channels.value.find(c => c.name === channel);
  if (channelTodelete){

    const updatedChannelList = channels.value.filter((c) => c.name !== channel);
    
    client.publish(`channel/${currentChannel.value}`, JSON.stringify({
      type: 'channelDeleted',
      channelId: channel.id,
    }));
  
    client.publish('deleteChannel', JSON.stringify(updatedChannelList));
    isWindowOpened.value = false;
  }
}

async function joinChannel(channelName) {
  const channel = channels.value.find(c => c.name === channelName);
  if (channel){
  isWindowOpened.value = true;
  currentChannel.value = channelName;
  const chan = channels.value.find(c => c.name === channelName);
  chan.isJoined = true;
  chan.isOpen = true;
  const otherChans = channels.value.filter(c => c.name !== channelName);
  otherChans.forEach(c => c.isOpen = false);
  client.subscribe(`channel/${currentChannel.value}`)
  client.publish(`channel/${currentChannel.value}`, `${userName.value} has joined this channel`);
  }
}

async function leaveChannel(channelName) {
  const channel = channels.value.find(c => c.name === channelName);
  if (channel){
    client.publish(`channel/${currentChannel.value}`, `${userName.value} has left this channel`)
    client.unsubscribe(`channel/${channelName}`);
    const chan = channels.value.find(c => c.name === channelName);
    chan.isJoined = false;
    chan.isOpen = false;
    currentChannel.value = '';
    isWindowOpened.value = false;
  }
}

async function inviteToChannel(channelName) {
    const target = prompt('Enter the name of the user you want to invite:');
    const channelExists = channels.value.some((channel) => channel.name === channelName);
    const targetExist = connectedUsers.value.some((connectedUser) => connectedUser.user === target);
    if (!targetExist) {
      alert(`The user ${target} is not connected`);
      return;
    }
    if (!channelExists) {
    alert(`The channel ${channelName} does not exist`);
    return;
    }
 
    const inviteMessage = `(private) from ${userName.value}: Hello ${target}, I'm chatting in the channel '${channelName}' do you want to join it ?`;
    client.publish(`chat/${target}`, inviteMessage);

    const inviteNotification = `${target} has been invited to the channel ${channelName}`;
    messages.value.push({
    id: Date.now(),
    content: inviteNotification,
    type: 'private',
    send: userName.value
    });
}


async function openChannel(channelName) {
  isWindowOpened.value = true;
  const chan = channels.value.find(c => c.name === channelName);
  chan.isOpen = true;
  const otherChans = channels.value.filter(c => c.name !== channelName);
  otherChans.forEach(c => c.isOpen = false);
  currentChannel.value = channelName; 
}

async function closeChannel(channelName) {
  isWindowOpened.value = false;
  const chan = channels.value.find(c => c.name === channelName);
  chan.isOpen = false;
}

async function disconnectUser() {

  if (userName.value !== '') {
    client.publish('chat', `${userName.value} just left the chat`);
    const userToDisconnect = connectedUsers.value.filter((user) => user.user !== userName.value);
    if (userToDisconnect) {
      //const newUserConnected = connectedUsers.value.splice(userToDisconnect, 1);
      client.publish('disconnect', JSON.stringify(userToDisconnect));
    }
    client.unsubscribe(`chat/${userName.value}`);
    client.unsubscribe('connectedUser');
    isConnected.value = false;
    userName.value = '';
  }
}

  
async function sendMessage() {
  if (!isConnected.value) {
    alert('You must be connected to send a message');
    return;
  }
  if (messageInput.trim() !== '') {
    if (messageInput.startsWith('/w ')) {
      const parts = messageInput.split(' ');
      const target = parts[1];
      const privateMessage = parts.slice(2).join(' ');
      const targetUser = connectedUsers.value.find(user => user.user === target);
      if (!targetUser || !targetUser.connected) {
        messages.value.push({
          id: Date.now(),
          content: `User ${target} is offline or don't exist`,
          type: 'system',
        });
        return;
      }   

      client.publish(`chat/${target}`,`(private) From ${userName.value}: ${privateMessage}`); 

      messages.value.push({
        id: Date.now(),
        content: `To ${target}: ${privateMessage}`,
        type: 'private',
        sender: userName.value
        
      });
      
    }if (isWindowOpened.value !== true && !messageInput.startsWith('/w ') ){
      client.publish('chat', `${userName.value}: ${messageInput}`);
      
    } else if(!messageInput.startsWith('/w')) {
      
      client.publish(`channel/${currentChannel.value}`, `${userName.value}: ${messageInput} `);
    }
    messageInput = '';
  }
}

</script>



<style>

ul {
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}
.msgChatbox{
  margin: 10px;
  width: 420px;
  height: 40px;
  border-radius: 6px;
}
.container{
  display: flex;
  
}
.chat {
  padding: 10px;
  height: 300px;
  width: 500px;
  line-height: 1.5;
  border: 1px solid black;
  overflow: auto;
  color: black;
  background-color: #E0FFFF;
  border-color: black;

}

.inputArea {
  margin-top: 5px;
  background-color: #E0FFFF;
  border: 1px solid black;
  width: 500px;
  overflow: hidden;
}

.connectedUsers {
  margin-left: 50px;


}

.chan{
  margin-top: 15px;
}
.channelList {

  height: auto;
  width: auto;
  line-height: 1.5;
  border: 3px solid #fff;
  overflow: auto;
  font-size: 15px;
  padding: 10px;
  border-radius: 6px;

}
.userList{
  height: auto;
  width: 200px;
  line-height: 1.5;
  border: 1px solid black;
  overflow: auto;
  font-size: 15px;
  background-color: #E0FFFF;
  color: black
}


ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #32CD32;
  font-weight: bold; /* If you want it to be bold */
  font-size: 18px;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.channel {
  margin-left:50px;
}


button{
  margin: 1.5px;
  /* background-color: #405cf5; */
  background-color: #405cf5;
  border-color: black;
  border-radius: 6px;
  border-width: 0.5;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color:white;
  padding: 5 10px;
  height: 20px;
  font-weight: bold;
}



button:disabled {
  cursor: default;
}

button:hover {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
</style>
